In [147]:
import pandas as pd

In [148]:
csv_path = "Resources/election_data.csv"

In [149]:
data = pd.read_csv(csv_path)

In [150]:
data.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [151]:
votecount = data['Voter ID'].count()
returnstatementtotalvotes = "Total number of votes cast: {}.".format(votecount)

In [152]:
candidates = data['Candidate'].unique()
candidates

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [153]:
candidatevotes = data['Candidate'].value_counts()
candidatevotes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [154]:
percentagevotes = (candidatevotes/votecount)
percentagevotes

Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [155]:
electionresults = {'Candidate':[candidates[0],candidates[1],candidates[2],candidates[3]],
                   'Percentage of Vote':[percentagevotes[0], percentagevotes[1], percentagevotes[2], percentagevotes[3]],
                   'Total Votes':[candidatevotes[0], candidatevotes[1], candidatevotes[2], candidatevotes[3]] }
electionresults_df = pd.DataFrame(data=electionresults)
electionresults_df

  Candidate  Percentage of Vote  Total Votes
0      Khan                0.63      2218231
1    Correy                0.20       704200
2        Li                0.14       492940
3  O'Tooley                0.03       105630

In [156]:
electionresults_df['Percentage of Vote'] = electionresults_df['Percentage of Vote'].astype(float).map('{:.2%}'.format)
electionresults_df

  Candidate Percentage of Vote  Total Votes
0      Khan             63.00%      2218231
1    Correy             20.00%       704200
2        Li             14.00%       492940
3  O'Tooley              3.00%       105630

In [157]:
resultssimple = (electionresults_df.to_csv(index=False,header=None))

In [158]:
print(resultssimple)

Khan,63.00%,2218231
Correy,20.00%,704200
Li,14.00%,492940
O'Tooley,3.00%,105630

In [166]:
for winner in electionresults:
    if electionresults['Total Votes'].value == electionresults['Total Votes'].max():
        winner = electionresults['Candidate']
    endif

AttributeError: 'list' object has no attribute 'value'